* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 50px;
}
.user > * {
  margin: 8px 0;
}

p {
  font-size: calc(10px + 1vmin);
}
.img-container {
  height: 120px;
  margin: 0 auto;
  width: 120px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.user-btns {
  display: flex;
  justify-content: space-evenly;
}

.user-btn {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: none;
  /* color: #fff; */
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.user-btn.delete {
  transform: rotate(45deg);
  background-color: red;
  color: #fff;
}

/* add user button  */
.addUser {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #fff;
}
.addUser > button {
  height: 30px;
  width: 80px;
  margin: 10px 0;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addUser > button:hover {
  color: #fff;
  background-color: rgb(174, 174, 174);
}

.form-container {
  position: absolute;
  background-color: rgba(54, 54, 54, 0.855);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  place-content: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.form > input {
  height: 40px;
  width: 400px;
  padding: 5px;
  border-radius: 4px;
}
.form-btns > input[type="submit"],
.form-btns > input[type="button"] {
  border: 1px solid rgb(147, 147, 147);
  height: 40px;
  font-weight: 400;
  margin: 0 10px;
  background-color: #fff;
  width: 120px;
  cursor: pointer;
}

.form-btns > input[type="submit"]:hover,
.form-btns > input[type="button"]:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}
